#app-name {
  margin: 0;
  padding: 10px 0;
}

#rooms {
  background-color: lightgray;
  box-sizing: border-box;
  width: 25vw;
  height: 100vh;
  float: left;
  text-align: center;
}

.rooms {
  list-style-type: none;
  padding: 0;
}

.roomName {
  padding: 3px;
  font-size: 16px;
}

.activeRoom {
  font-size: 20px;
  font-weight: bold;
}

#newRoom {
  min-width: 80px;
  max-width: 80%;
}
